.header {
  background: $yellow;
  padding: 6rem 0;
}
.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: $laptop) {
  .header {
    padding: 4rem 0;
  }
}
@media screen and (max-width: $tablet) {
  .header {
    padding: 2rem 0;
  }
}
@media screen and (max-width: $phone) {
  .header__nav {
    flex-direction: column;
  }
}
