.btn {
  display: inline-block;
  height: 5rem;
  background: $yellow;
  border: 2px solid $black;
  border-radius: 5px;
  padding: 0rem 3.5rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  transition: background .2s, color .2s, border-color .2s;
  &:hover {
    background: $black;
    color: $yellow;
    border-color: $yellow
  }
}
