/* ------ COLORS ------ */
$yellow: #fcdb00;
$black: #010101;
$darkgrey: #313841;
$grey: #555555;
$lightgrey: #898989;
$white: #ffffff;

/* ------ MEDIA ------ */
$xs: 500px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$tablet: 1024px;
$phone: 480px;
